mat-toolbar{

    justify-content: space-between;
    padding: 0 3rem;
}

mat-icon{
    color: #FFFFFF;
}

mat-form-field{
    width: 100%;
}

.mat-form-field-appearance-fill{
    border-radius: 0 !important;
}