mat-toolbar{

    justify-content: space-between;
    padding: 0 3rem;
}

mat-icon{
    color: #FFFFFF;
}

mat-form-field{
    width: 100%;
}

.mat-form-field-appearance-fill{
    border-radius: 0 !important;
}

.search-input{

    background-color: #424242;
    border: 0;
    height: 2rem;
    border-radius: 4px;
    padding: .5rem;
    width: -webkit-fill-available;
}